<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Example page</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
</head>
<body>
    <main>
        <div class="container" id="data-box" data-url="{{ url('loan_list') }}" data-create-url="{{ url('request_loan') }}">
            <div class="row hidden" data-show>
                <div class="col-md-12 text-center navigation">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#loanRequestModal">
                        Create loan request
                    </button>
                </div>
            </div>
            <div class="row hidden" data-empty>
                <div class="col-md-12 text-center"><h2>No requests</h2></div>
            </div>
            <div class="row hidden header"  data-show>
                <div class="col-md-2 col-md-offset-4 text-right">ID</div>
                <div class="col-md-2">Status</div>
            </div>
            <div class="row hidden element" data-template>
                <div class="col-md-2 col-md-offset-4 text-right" data-id></div>
                <div class="col-md-2" data-status></div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center navigation">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#loanRequestModal">
                        Create loan request
                    </button>
                </div>
            </div>
        </div>
    </main>

    <div id="loanRequestModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Create load request</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="loanAmount" class="col-sm-4 control-label">Loan amount</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="loanAmount" placeholder="0.00" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="propertyValue" class="col-sm-4 control-label">Property value</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="propertyValue" placeholder="0.00" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="socialSecurity" class="col-sm-4 control-label">Social security</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="socialSecurity" placeholder="000000000000" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Send request</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
</body>
</html>
