main {
    margin: 50px 0;
}
.navigation {
    margin: 40px 0;
}
.header div{
    font-weight: bold;
}
.header div:first-child ,
.element div:first-child {
    border-right: 1px solid #cccccc;
}
.header div,
.element div {
    padding: 5px 15px;
    border-bottom: 1px solid #cccccc;
}
.element:nth-last-child(3) div {
    border-bottom: none;
}
.element:nth-child(even) div{
    background-color: #eee;
}